@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap'); */

*, body, html{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
main{
    /* background-position-x: 15%!important;  
    background-size: cover!important; */
    
}
.slide-top {
	animation: slide-top .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @keyframes slide-top {
    0% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(0);
    }
  }
  